fastapi
uvicorn[standard]
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-python
opencv-contrib-python
opencv-python-headless
python-bidi
python-multipart
cython
lxml
premailer
openpyxl
attrdict
Polygon3
paddlepaddle==2.6.0
lanms-neo==1.0.2
PyMuPDF
onnxruntime==1.16.3
uvicorn
backgroundremover
g4f[all]